/.gradle/
/.idea/

/build/
/out/

/application/build/
/application/out/
/application/indexes/
/application/application/

/avro/build/
/avro/out/

/migrations-db-application/build/
/migrations-db-application/out/

/migrations-db-sso/build/
/migrations-db-sso/out/

/migrations-db-support/build/
/mmigrations-db-support/out/

/taxi-drive-app.iml
